body,
div,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*{
  font-family: 'Saira Condensed', sans-serif;
}

/* @media (max-width:646px) {
  
  .app{
    background-image: url('../src/assets/fundo.png') ;
    height: 200vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }  
} */

.app{
  background-image: url('../src/assets/fundo.png') ;
  height: 200vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}  